.DS_Store
Thumbs.db
/.idea
/bitrix/*
!/bitrix/php_interface
!/bitrix/templates
!/bitrix/admin/cf_payment_system_select.php
!/bitrix/modules/cf.payment.system.select
/upload
/*.xml
/*.log
/*.sh
/*.sql
/googlec*.html
/yandex_*.html
/robots.txt
/payment.txt
/sitemap_*.xml
/restore.php
/bitrix_server_test.php
/nbproject/private/
