.DS_Store
Thumbs.db
/.idea
/bitrix/*
!/bitrix/php_interface
!/bitrix/templates
/upload
/*.xml
/*.log
/*.sh
/*.sql
/googlec*.html
/yandex_*.html
/robots.txt
/payment.txt
/sitemap_*.xml
/restore.php
/bitrix_server_test.php