

.map-columns {
	width: 100%;
	margin-bottom: 70px;
}

.map-columns td {
	vertical-align: top;
	width: 50%;
}

.map-level-0,
.map-level-1,
.map-level-2,
.map-level-3 {
}

.map-level-0 > li {
	margin-bottom: 40px;	
}

ul.map-level-0 a,
ul.map-level-1 a,
ul.map-level-2 a,
ul.map-level-3 a {
	color: #21405b;
	text-align: left;
	font-size: 14px;
	line-height: 2.14;
	font-weight: normal;
}

ul.map-level-0 a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.88;
}

ul.map-level-1 a {
	font-size: 16px;
	line-height: 1.88;
}

ul.map-level-2 a {
	font-weight: 300;
}

ul.map-level-3 a {
	font-weight: 300;
}

ul.map-level-0 a:hover,
ul.map-level-1 a:hover,
ul.map-level-2 a:hover,
ul.map-level-3 a:hover {
	opacity: 0.7
}

