Options +Indexes
Allow from all
AddDefaultCharset utf-8
AddHandler server-parsed .html
SSILegacyExprParser on

<IfModule deflate_module>
# Enable compression for the following file types.
AddOutputFilterByType \
DEFLATE \
application/javascript \
text/css \
text/html \
text/javascript \
text/plain \
text/xml
</IfModule>